html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

svg,
body {
    padding: 0;
    margin: 0;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body{
    transition: background-color .5s ease-in-out;
}

rect {
    fill: #fff;
    shape-rendering: geometricPrecision;
}

text {
    font-weight: 900;
    fill: #fff;
}

.cond {
    font-weight: 100;
}